# SSH 配置模板：推荐的 Host 配置示例，手动复制到 ~/.ssh/config 使用
Host ycy
    HostName [ip or domain]
    User alex
    IdentityFile ~/.ssh/server_ycy@alex
    Port 22
    ForwardX11 yes
    ServerAliveInterval 30
    ServerAliveCountMax 3
    TCPKeepAlive yes
    RequestTTY force
    RemoteCommand zellij ls; zsh

